<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
      {% block head %}<title>Base template</title>{% endblock %}
      {% load static %}
      {% load staticfiles %}
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
      <script src="{% static 'node_modules/angular/angular.min.js' %}" type="text/javascript"></script>
      <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
      <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
      <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="{% static 'registration/style.css' %}"/>
      <link rel="stylesheet" type="text/js" href="{% static 'js/script.js' %}"/>
  </head>
  <body>
        {% block navbar %}
          <!-- HEADER AND NAVBAR -->
          <header>
              <div class="navbar navbar-default">
                  <div class="navbar-header">
                      <a class="navbar-brand" href="/">Phil-IT Juniors Info System</a>
                  </div>
                    {% if request.user.is_authenticated %}
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{% url 'registration:logout' %}"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                    </ul>
                    {% elif not user.is_authenticated %}
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="{% url 'registration:logout' %}"><i class="glyphicon glyphicon-off"></i>Logout</a></li>
                    </ul>
                    {% endif %}
              </div>
            </header>
              {% endblock %}

          <!-- MAIN CONTENT AND INJECTED VIEWS -->
          <div id="main">
              <!-- angular templating -->
              <!-- this is where content will be injected -->
          </div>
          {% block sidebar %}

          <!--- This is the sidebar ---->
          		<div class="wrapper">
              	    <div class="side-bar">
                          <ul>
                              <li class="menu-head">
                                  Menu <a href="#" class="push_menu"><span class="glyphicon glyphicon-align-justify pull-right"></span></a>
                              </li>
                              <div class="menu">
                                  <li>
                                      <a href="#">Dashboard <span class="glyphicon glyphicon-dashboard pull-right"></span></a>
                                  </li>
                                  <li>
                                    {% url 'officers:officer' as officer_url %}
                                      <a href="{% url 'officers:officer' %}" {% if request.get_full_path == officer_url %}class="active"{% endif %}>Officers<span class="glyphicon glyphicon-king pull-right"></span></a>
                                  </li>
                                  <li>
                                    {% url 'officers:members_list' as member_url %}
                                      <a href="{% url 'officers:members_list' %}" {% if request.get_full_path == member_url %} class="active" {% endif %}>Members <span class="glyphicon glyphicon-pawn pull-right"></span></a>
                                  </li>
                                  <li>
                                      <a href="#">List of Officers <span class="glyphicon glyphicon-stats pull-right"></span></a>
                                  </li>
          												<li>
                                    {% url 'registration:register' as register_url %}
          														<a href="{% url 'registration:register' %}" {% if request.get_full_path == register_url %} class="active" {% endif %}>Registration <span class="glyphicon glyphicon-plus pull-right"></span></a>
          												</li>
                              </div>

                          </ul>
              	    </div>
                    {% block content %}
                      <div class="content">
                          <div class="col-md-12">
                              <div class="panel panel-default">
                                  <div class="panel-heading">Panel heading default</div>
                                  <div class="panel-body">
                                      Panel content default
                                  </div>
                              </div>
                          </div>
                      </div>
          		</div>
                        {% endblock %}
          {% endblock %}
          {% block body %}
          {% endblock %}

      </body>
      </html>
