{% extends 'base.html' %}
{% block head %}<title>Add an Officer</title>{% endblock %}
{% block content %}
<div class="content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Register an Officer</div>
            <div class="panel-body">
              <form class="registration-form" action="{% url 'officers:create_officer' %}" method="post" autocomplete="off">{% csrf_token %}
                {% include 'messages/messages.html' %}
                {% for field in form %}
             <p>
               {{ field }}
               {% if field.help_text %}
                 <small style="color: grey">{{ field.help_text }}</small>
               {% endif %}
               {% for error in field.errors %}
                 <small style="color: red">{{ error }}</small>
               {% endfor %}
             </p>
           {% endfor %}
              <button type="submit" class="btn btn-primary">Add</button>
              </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
