{% extends 'ordering/base.html' %}
{% block inventorys_active %}active{% endblock %}
{% block head %}<title>Inventory menu</title>{% endblock %}
{% block body %}
<div class="container-fluid">
  <h1>Inventory Menu</h1>
      <div class="col-sm-4 col-lg-2">
        <div class="thumbnail">
          <div class="caption">
            <img src="" class="img-responsive">
        <h2><a href="#">{{ inventory.product_name }}</a></h2>

        <!-- View Details -->
        <a href="#" class="btn btn-primary btn-sm" role="button">View Details</a>

        <!-- Delete Product -->
        <form action="#" method="post" style="display: inline;">
            {% csrf_token %}
            <input type="hidden" name="inventory_id" value="" />
            <button type="submit" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </form>
          </div>
        </div>
      </div>
</div>
      <div class="col-sm-12">
        <br>
        <a href="#">
            <button type="button" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>&nbsp; Add an officer
          </button>
        </a>
      </div>
    </div>
</div>

{% endblock %}
