{% extends 'base.html' %}
{% block head %}<title>List of Officers</title>{% endblock %}
{% block content %}
<div class="content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Officers Information</div>
            <div class="panel-body">
              {% include 'messages/messages.html' %}
              <div class="container-fluid">
                    <div class="col-sm-4 col-lg-2">
                      <div class="thumbnail">
                        <div class="caption">
                          <img src="" class="img-responsive">
                      <h2><a href="#">  </a></h2>

                      <!-- View Details -->
                      <a href="#" class="btn btn-primary btn-sm" role="button">View Details</a>

                      <!-- Delete Product -->
                      <form action="#" method="post" style="display: inline;">
                          {% csrf_token %}
                          <input type="hidden" name="inventory_id" value="" />
                          <button type="submit" class="btn btn-default btn-sm">
                              <span class="glyphicon glyphicon-trash"></span>
                          </button>
                      </form>
                        </div>
                      </div>
                    </div>
              </div>
                    <div class="col-sm-12">
                      <br>
                      <a href="{% url 'officers:create_officer' %}">
                          <button type="button" class="btn btn-success">
                          <span class="glyphicon glyphicon-plus"></span>&nbsp; Add
                        </button>
                      </a>
                    </div>
                  </div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock   %}
