{% extends 'base.html' %}
{% block head %}<title>Members</title>{% endblock %}
{% block content %}
<div class="content">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">Members lists</div>
            <div class="panel-body">
                {% include 'messages/messages.html' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
