{% extends 'base.html' %}
{% block head %}
<title>Login</title>
{% endblock %}
{% block navbar %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block body %}
<div class="row">
  <div class="login-form">
      <form action="{% url 'registration:login' %}" method="post" autocomplete="off">{% csrf_token %}
          <h2 class="text-center">Log in</h2>
          {% include 'messages/messages.html' %}
          <div class="form-group">
              <input type="text" class="form-control" placeholder="Username" required="required" autocomplete="off" name="username">
          </div>
          <div class="form-group">
              <input type="password" class="form-control" placeholder="Password" required="required" autocomplete="off" name="password">
          </div>
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block">Log in</button>
          </div>
          <div class="clearfix">
            <p class="text-center"><a href="#">Forgot Password?</a></p>
          </div>
      </form>
  </div>
</div>
{% endblock body %}
